<section id='add-view' class='centerFlex'>
  <div class='addSongs'>
    <div class='container-1 margin_center'>
      <div class='addSongs width30'>
        <p for='songname'>Song name:</p>
        <p for='artist'>Artist:</p>
        <p for='album'>Album:</p>
        <p for='genre'>Genre:</p>
      </div>
      <div class='addSongs width70'>
        <input id='songName' class='full_width' type="text" name="songname">
        <input id='artistName' class='full_width' type="text" name='artist'>
        <input id='albumName' class='full_width' type="text" name="album">
        <input id='genreName' class='full_width' type="text" name="genre">
      </div>
    </div>
    <div class='full_width'>
      <button id='addSong' class='width30'>Add</button>
    </div>
  </div>
</section>
