<section id='list-view' class='visible'>
  <div class="container-1 width100">

    <!-- left box -->
    <div class="box left_section">
      <div class="bottom_space">
        <label for="search">Search:</label>
        <input type="text" name="search" class="full_width" placeholder="Search..." ng-model="search">
      </div>
      <div class="bottom_space">
        <label for="artist">Artist:</label>
        <select ng-model="artistsel" name="artist" class="full_width">
          <option></option>
          <option ng-repeat="song in songs">{{song.Artist}}</option>
        </select>
      </div>
      <div class="bottom_space">
        <label for="album">Album:</label>
        <select ng-model="albumsel" name="album" class="full_width">
          <option></option>
          <option ng-repeat="song in songs">{{song.Album}}</option>
        </select>
      </div>

      <label class="half_bottom_space">Genre:</label>
      <div class="container-1 bottom_space">
        <div class="right50">
          <input type="checkbox" id="cbox1" value="first_checkbox"><label for="cbox1" class="left-margin">Rock</label><br>
          <input type="checkbox" id="cbox2" value="second_checkbox"><label for="cbox2" class="left-margin">Classic</label><br>
          <input type="checkbox" id="cbox3" value="third_checkbox"><label for="cbox3" class="left-margin">Pop</label>
        </div>
        <div class="right50">
          <input type="checkbox" id="cbox4" value="fourth_checkbox"><label for="cbox4" class="left-margin">Jazz</label><br>
          <input type="checkbox" id="cbox5" value="fifth_checkbox"><label for="cbox5" class="left-margin">Blues</label><br>
          <input type="checkbox" id="cbox6" value="sixth_checkbox"><label for="cbox6" class="left-margin">Hip Hop</label>
        </div>
      </div>
      <!-- filter button -->
      <div>
        <button class="full_width">Filter</button>
      </div>
    </div>

    <!-- right box -->
    <div class="box right_section">
      <div id="musicDiv">

        <!-- loop through the songs and add them to the dom -->
        <div ng-repeat="song in songs | filter : search || artistsel || albumsel">
          <h2 class="dark-yellow">{{song.Song}}</h2>
          <div class="inlineFlex">
            <h4>{{song.Artist}} | {{song.Album}} | {{song.Genre}}</h4>
          </div>
          <button>Delete</button>
        </div>
        <!-- end song ng-repeat -->

      </div>
      <button id='moreMusicButton'>More ></button>
    </div>
  </div>
</section>
