/* Font Styles */
body {
    font-size: 1.2em;
}
/* removes underline from a */
.remove-decoration {
    text-decoration: none;
}
/* styling for song name in right box */
.dark-yellow {
    color: #785616;
    margin: 0;
}

/* Margin */
.right-margin {
    margin-right: 1em;
}
.left-margin {
    margin-left: 0.4em;
}
.bottom_space {
    margin-bottom: 1em;
}
.half_bottom_space {
    margin-bottom: 0.5em;
}
.margin_center {
    margin: 0 auto;
}
button.width30 {
    margin-left: 45%;
    font-size:1.1em;
    width: 30%;
}
.centerFlex {
    justify-content: center;
}
.topMargin {
    margin-top: 0.5em;
}

 /* Flexbox styling */
.box {
    list-style: none;
    display: flex;
    border: 2px solid black;
    padding: 1.1em;
}
.nav_bar {
    background-color: #FFB4B0;
    margin: 3% 2% 1% 2%;
}
.container-1 {
    display: flex;
}
.width50 {
    width: 50%;
}
.width20 {
    width: 20%;
}
.width80 {
    width: 80%;
}
.width100 {
    width: 100%;
}

.left_section {
    background-color: #4DD7FA;
    margin: 0 0.5% 3% 2%;
    width: 20%;
    flex-direction: column;
    min-width: 190px;
}
.right_section {
    background-color: #FEFAC0;
    margin: 0 2% 3% 0.5%;
    width: 70%;
    flex-direction: column;
}
.addSongs {
    flex-direction: column;
}
.addSongs p {
    margin: 0.6em;
    text-align: right;
}

/* styling for select boxes and slider */
.full_width {
    width: 98%;
    font-size: 0.72em;
    margin-top: 0.8em;
}
.right50 {
    flex-direction: column;
    width: 50%;
}
.musicRowButton {
    display: flex;
    justify-content: space-between;
}

/* hidden or visible */
.visible {
  display: flex;
}

.hidden {
  display: none;
}
.deleteRowButton {
    border-radius: 1em;
    background-color: #E05953;
    height: 2.5em;
    padding: 0 1em;
    margin: 0.5em 0 0 2em;
}

#moreMusicButton {
    border-radius: 1em;
    background-color: #80FD46;
    height: 2.5em;
    padding: 0 1em;
    margin: 0.5em 0 0 2em;
    align-self: flex-end;
}
